body {
  padding: 30px 50px 50px 50px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.m-table{
  width:100%;
  display: table;
  
}

.m-header .m-row{
  width: auto;
  display: table-row;
  clear: both;
}

.m-header .m-row .m-cell{
  display: table-cell;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  width: auto;
  background-color:#eee;
  color: darkslategrey;
  border-bottom: 1px solid #cecece;
  vertical-align: middle;
}

.m-body .m-row{
  display: table-row;
  width: auto;
  clear: both;
}

.m-body .m-row:hover{
  background-color: #eee;
  cursor: pointer;
  color:#ddd;
  border: 1px 1px darkgray;
}

.m-body .m-row .m-cell{
  display: table-cell;
  width:auto;
  padding:15px 15px 15px 10px;  
  vertical-align: middle;
  color:#ddd;
}
