extends layout

block content
  div(class='customer-list-wrapper')
    h1= title
    p Welcome to #{title}
    |
    |
    button(type='button' class='butCreateNew') Create New Customer
    div(class='m-table')
      div(class='m-header')
        div(class='m-row')
          div(class='m-cell') First Name
          div(class='m-cell') Last Name
      |
      |
      div(class='m-body') 
      each c in customers
        div(class='m-row')          
            div(class='m-cell')= c.firstName + ' ' + c.lastName
            div(class='m-cell')= c.gender
  script
    include ../public/javascripts/customer-list.js